<h1>Expediente</h1>
<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2">
    <div class="form-group">
      <label for="estado_aic">Identificador:</label>
      <input type="text" id="fe_id"/>
      <input type="button" value="Buscar" id="buscarAspirante"/>
    </div>
  </div>
  <div class="form-group">
    <table>
      <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>A. Paterno</th>
        <th>A. Materno</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody id="figura">

      </tbody >

    </table>
  </div>

</div>

<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2">
    <div class="form-group">
      <table>
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Fecha Nac</th>
          <th>Sexo</th>
          <th>CURP</th>
          <th>RFC</th>
          <th>Lugar de nacimiento</th>
          <th>Telefono</th>
        </tr>
        </thead>
        <tbody id="datosGen">

        </tbody >

      </table>

      <table>
        <thead>
        <tr>
          <th>Tipo_zona</th>
          <th>Calzado</th>
          <th>Talla Playera</th>
          <th>Talla Pans</th>
        </tr>
        </thead>
        <tbody id="datosGen2">

        </tbody >

      </table>

      <table>
        <thead>
        <tr>
          <th>Tipo de figura</th>
          <th>Fecha de actualizacion</th>
        </tr>
        </thead>
        <tbody id="roles">

        </tbody >

      </table>
    </div>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $("#buscarAspirante").click(function(){
            $("#figura").empty()
            id_persona = $("#fe_id").val()
            $.getJSON("http://localhost:3000/api/consulta_personas_apellido/" + id_persona, function (data) {

                $.each(data, function (i, item) {
                    html= "<tr><td>" + item.id + "</td><td>" + item.nombre + "</td><td>" + item.a_paterno + "</td><td>" + item.a_materno + "</td><td><input type='button' value='Enviar a servicio' class='enviar' id=" + item.id + " /></td><td><input type='button' value='Ver Expediente' class='expediente' id=" + item.id + " /></td></tr>"
                    $("#figura").html(html)
                });
                $(".enviar").click(function(){
                    idFig = this.id
                    console.log(idFig)
                })
                $(".expediente").click(function(){
                    idFig = this.id
                    $.getJSON("http://localhost:3000/api/consulta_personas_apellido/" + idFig, function (data) {
                        $.each(data, function (i, item) {
                            html= "<tr><td>" + item.nombre + " "+item.a_paterno+" "+item.a_materno+"</td><td>" + item.fecha_nac + "</td><td>" + item.sexo + "</td><td>" + item.curp + "</td><td>" + item.rfc + "</td><td>" + item.lugar_nac + "</td><td>" + item.telefono + "</td></tr>"
                            $("#datosGen").html(html)
                            html2= "<tr><td>" + item.tipo_zona + "</td><td>" + item.calzado + "</td><td>" + item.talla_playera + "</td><td>" + item.talla_pants + "</td></tr>"
                            $("#datosGen2").html(html2)
                        });
                    })
                    $.getJSON("http://localhost:3000/api/rol_por_persona/" + idFig, function (data) {
                        $.each(data, function (i, item) {
                            html= "<tr><td>" + item.description + "</td><td>" + item.created_at + "</td>></tr>"
                            $("#roles").append(html)
                        });
                    })
                })

            })

        })
    })
</script>