

<% @cr.each do |cre| %>
    <tr>

      <td><%= cre.description %></td>


    </tr>
<% end %>


<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2">
    <div class="form-group">
      <label for="estado_aic">Estado de la república:</label>
      <select name="estado_aic" id="estado_aic" class="form-control">
        <% sta = State.order(:estado) %>
        <% sta.each do |st| %>
            <option value="<%=st.id%>"><%=st.estado%></option>
        <% end %>
      </select>
    </div>


    <div class="form-group">
      <label for="municipio_aic">Municipio:</label>
      <select name="municipio_aic" id="municipio_aic" class="form-control">


      </select>

    </div>





    <div class="form-group">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Id de curso</th>
          <th>Nombre</th>
          <th>Descripción</th>
        </tr>
        </thead>
        <tbody id="cursos_aic">

        </tbody>
      </table>

    </div>



  </div>
</div>


<script type="text/javascript">


    $(document).ready(function() {
        $("#estado_aic").change(function () {
            var idEstado = $("#estado_aic option:selected").val();
            $('#municipio_aic').empty()
            $.getJSON("http://localhost:3000/api/consulta_municipios/" + idEstado, function (data) {


                var vals = [];
                $.each(data, function (i, item) {
                    vals = item;
                });
                $.each(vals, function (i, item) {
                    html = "<option value='" + item.id + "'>" + item.municipio + "</option>"
                    $('#municipio_aic').append(html)
                });


            })

            $('#cursos_aic').empty()
            $.getJSON("http://localhost:3000/api/consulta_personas_asignadas/" + idEstado, function (data) {


                var vals = [];
                $.each(data, function (i, item) {
                    html = "<tr><td>"+item.id+"</td><td>"+item.a_paterno+"</td><td>"+item.localidad+"</td><td>"+item.estado+"</td>"+"<td><input type='button' class='asignar' id='"+item.id+"' value='Enviar Personas'/></td>"+"</tr>"
                    $('#cursos_aic').append(html)
                });
                $(".asignar").click(function(){
                    var url = "http://localhost:3000/allocated_figures/";
                    var params = JSON.stringify({
                        activity_id:$('#localidad_aic').val(),
                        person_id:this.id
                    });
                    console.log(params)
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: params,
                        contentType: 'application/json'
                    }).then(function () {
                        console.log ("hecho")
                    }).fail(function (jqXHR) {
                        alert(jqXHR.responseText);
                    })
                });

            })


        });

        $("#municipio_aic").change(function(){

            var idLocalidad = $("#municipio_aic option:selected").val();
            $('#localidad_aic').empty()
            $.getJSON("http://localhost:3000/api/consulta_localidades/"+ idLocalidad, function(data) {


                var vals = [];
                $.each(data, function(i, item) {
                    vals =item;
                });
                $.each(vals, function(i, item) {
                    html = "<option value='"+item.id+"'>"+ item.localidad +"</option>"
                    $('#localidad_aic').append(html)
                });
            })
        });
    });
</script>

