
<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2">
    <div class="form-group">
      <label for="estado_aic">Estado de la república:</label>
      <select name="estado_aic" id="estado_aic" class="form-control">
        <% sta = State.order(:estado) %>
        <% sta.each do |st| %>
            <option value="<%=st.id%>"><%=st.estado%></option>
        <% end %>
      </select>
    </div>


    <div class="form-group">
      <label for="municipio_aic">Municipio:</label>
      <select name="municipio_aic" id="municipio_aic" class="form-control">


      </select>

    </div>

    <div class="form-group">
      <label for="municipio_aic">Municipio:</label>
      <select name="municipio_aic" id="cursos_aic" class="form-control">


      </select>

    </div>
    <div class="form-group">
      <label for="lengua">Lengua:</label>
      <label id="lengua">Lengua:</label>

    </div>

    <div class="form-group">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido Paterno</th>
          <th>Localidad</th>
          <th>Municipio</th>
          <th>Estado</th>
          <th>Opciones</th>
        </tr>
        </thead>
        <tbody id="personas_aic">

        </tbody>
      </table>

    </div>



  </div>
</div>


<script type="text/javascript">


    $(document).ready(function() {
        $("#estado_aic").change(function () {
            var idEstado = $("#estado_aic option:selected").val();
            $('#municipio_aic').empty()
            $.getJSON("http://localhost:3000/api/consulta_municipios/" + idEstado, function (data) {


                var vals = [];
                $.each(data, function (i, item) {
                    vals = item;
                });
                $.each(vals, function (i, item) {
                    html = "<option value='" + item.id + "'>" + item.municipio + "</option>"
                    $('#municipio_aic').append(html)
                });


            })

        });

        $("#municipio_aic").change(function(){
            $("#cursos_aic").empty()
            var idMunicipio = $("#municipio_aic option:selected").val();
            $.getJSON("http://localhost:3000/api/cursos_por_municipio/" + idMunicipio, function (data) {
                $.each(data, function (i, item) {
                    html = "<option value='" + item.id + "'>" + item.educacion + "</option>"
                    $("#cursos_aic").append(html)

            })


        });

        $("#cursos_aic").change(function(){

            var idMunicipio = $("#municipio_aic option:selected").val();
            $.getJSON("http://localhost:3000/api/cursos_por_municipio/" + idMunicipio, function (data) {
                $.each(data, function (i, item) {
                    $("#lengua").text(item.lengua)
                    var data = JSON.stringify({
                        estado: $("#estado_aic").val(),
                        lengua:  item.lengua_id
                    });
                    $.ajax({
                        type: 'POST',
                        url: 'http://localhost:3000/api/consulta_asignadas/',
                        data: data,
                        contentType: 'application/json'
                    }).then(function (personas) {
                        $('#personas_aic').empty()
                        $.each(personas, function(i, item) {
                            html = "<tr><td>"+item.id+"</td><td>"+item.a_paterno+"</td><td>"+item.localidad+"</td><td>"+item.municipio+"</td><td>"+item.estado+"</td>"+"<td><input type='button' class='asignar' id='"+item.id+"' value='Enviar Personas'/></td>"+"</tr>"
                            $('#personas_aic').append(html)

                        }).done(
                                $(".asignar").click(function(){
                                    var id_persona = this.id
                                    var params =JSON.stringify({
                                        person_id: id_persona,
                                        curso_id: $("#cursos_aic").val()
                                    })
                                    console.log(params)
                                })
                        )

                    })



                })

            })


        });
        });
    });


</script>

